<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.12.0.min.js "></script>
    <script type="text/javascript" src="js/tmpl.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <title></title>
  </head>
  <body>
    <script type="text/template" id="wrapper-template">
      <div class="wrapper">
        <ul class="item-list">
          <!-- <li>test <button class="item-delete">X</button></li>
          <li>test <button class="item-delete">X</button></li>
          <li>test <button class="item-delete">X</button></li> class="item-delete" -->
        </ul>
        <div class="controlls">
          <input type="text" class="item-value">
          <button class="item-add">Add</button>
        </div>
      </div>

    </script>
  <script type="text/template" id="list-template">
<% for (var i = 0; i < data.length; i++) { %>
<li><%= data[i] %> <button class="item-delete">X</button></li>
<% }; %>
</script>

  </body>
</html>
